<div class="row">
    <form class="col s12">
      <div class="row">
        <div [formGroup]="form" class="input-field col s12">
          <input formControlName="nombre" id="nombre" type="text">
          <label for="nombre">Nombre y apellido</label>
        </div>
        <div class="input-field col s12">
            <input id="telefono" type="text">
            <label for="telefono">Telefono</label>
          </div>
        <div class="input-field col s6">
          <input id="direccion" type="text">
          <label for="direccion">Direccion</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="contrasena" type="password">
          <label for="contrasena">Contraseña</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="correo" type="email">
          <label for="correo">Correo</label>
        </div>
      </div>
      <div class="input-field col s6">
          <button (click)="SaveRecord()" class="btn btn-success">
              Guardar
          </button>
        </div>
          <div class="input-field col s6">
            <a routerLink="/modules/security/user/get-user" class="btn btn-warning red">
               Cancelar
            </a>
        </div>
    </form>
  </div>
