<nav class="blue-grey lighten-3">
    <div class="container ">
        <div class="row">
            <div class="nav-wrapper ">
                <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="material-icons">menu</i></a>
                <ul class="center hide-on-med-and-down">
                    <li><a (click)="infousuario()">Informacion Usuario</a></li>
                    <li><a (click)="listar()">Listar</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="container ">
    <div class="row">
        <div *ngIf="change">
            <div *ngIf="change === 'Listar'">
                <app-list-perfil></app-list-perfil>
            </div>
            <div *ngIf="change === 'Listar_info_Usuario'">
                <app-get-user></app-get-user>
            </div>
        </div>
    </div>
</div>