<nav class="blue-grey lighten-3">
    <div class="container ">
        <div class="row">
            <div class="nav-wrapper ">
                <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i
                        class="material-icons">menu</i></a>
                <ul class="center hide-on-med-and-down">
                    <li><a (click)="infousuario()">Informacion Usuario</a></li>
                    <li><a (click)="listar()">Listar</a></li>
                    <li><a routerLink="actualizar">Actualizar Datos</a></li>
                    <li><a (click)="cerrarsesion()">Cerrar Sesion</a></li>
                    <li><a routerLink="inmueble/subir">Subir Inmueble</a></li>
                    <li><a class="waves-effect red accent-4 btn">Eliminar Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="container ">
    <div class="row">
        <div *ngIf="change">
            <div *ngIf="change === 'Listar'">
                <app-list-perfil></app-list-perfil>
            </div>
            <div *ngIf="change === 'Listar_info_Usuario'">
                <app-cont-perfil></app-cont-perfil>
            </div>
        </div>
    </div>
</div>