<div id="login-page" class="row">
  <div class="col s12 z-depth-6 card-panel">
    <form class="login-form" [formGroup]="form">
      <div class="row">
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mail_outline</i>
          <input formControlName="username" class="validate" id="usuario" type="email" name="usuario">
          <label for="usuario" data-error="wrong" data-success="right">Correo</label>
          <div *ngIf="GetForm['username'].errors && (GetForm['username'].dirty || GetForm['username'].touched)" class="error-message">
            <label>Por favor ingrese un email valido</label>
           </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">lock_outline</i>
          <input formControlName="password" id="password" type="password">
          <label for="password">Contraseña</label>
          <div *ngIf="GetForm['password'].errors && (GetForm['password'].dirty || GetForm['password'].touched)" class="error-message">
            <label>Por favor ingrese una contraseña valida</label>
           </div>
        </div>
      </div>
      


      <div class="row">
        <div class="input-field col s12 m12 l12  login-text">
          <input type="checkbox" id="remember-me" />
          <label for="remember-me">Recordar</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button [disabled]="GetForm['username'].errors || GetForm['password'].errors" type="button" (click)="Signup()" class="btn waves-effect waves-light col s12 light-blue accent-3">Ingresar</button>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m6 l6">
          <p class="margin medium-small"><a routerLink="/security/login">Registrarse</a></p>
        </div>
        <div class="input-field col s6 m6 l6">
          <p class="margin right-align medium-small"><a routerLink="/security/reset-password">¿Olvidaste La Contraseña?</a></p>
        </div>
      </div>

    </form>
  </div>
</div>