<a routerLink="/security/create-perfil" class="btn btn-successs">Nuevo Registro</a>
<table class="table responsive-table">
    <thead>
        <th>
            Imagenes
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Tipo
        </th>
        <th>
            Número de habitaciones 
        </th>
        <th>
            Número de baños 
        </th>
        <th>
            Precio
        </th>
        <th>
            Ac/Desac
        </th>
        <th>
            Zona
        </th>
        <th>
            Editar
        </th>
        <th>
            Eleminar
        </th>
    </thead>
    <tbody>
        <tr> 
            <td>
                <img src="https://cdn.pixabay.com/photo/2015/10/20/18/57/furniture-998265_960_720.jpg" width="100" height="100">
            </td>
            <td>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus animi quisquam dolore laborum nulla blanditiis nihil praesentium ex delectus, officiis atque laboriosam odit doloremque sed sit inventore dicta tempore. Eos?
            </td>
            <td>
                Casa
            </td>
            <td>
                4
            </td>
            <td>
                3
            </td>
            <td>
                200 Al Mes
            </td>
            <td>
                <div *ngIf="activo"><a class="actdes">Activo</a></div>
                <div *ngIf="!activo"><a class="desact">Desactivado</a></div>
            </td>
            <td>
                Norte
            </td>
            <td>
                <a class="waves-effect blue darken-1 btn-small" routerLink="/security/change-perfil/1">Editar</a>
            </td>
            <td>
                <a class="waves-effect red accent-4 btn-small" routerLink="/security/delete-perfil/1">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
<!--
<td>
    {{r.image.2}}
</td>
<td>
    {{r.descripcion}}
</td>
<td>
    {{r.tipo}}
</td>
<td>
    {{r.n_habitaciones}}
</td>
<td>
    {{r.n_banos}}
</td>
<td>
    {{r.precio}}
</td>
<td>
    {{r.t_pub}}
</td>
<td>
    {{r.id_zona}}
</td>-->