<a routerLink="/security/create-perfil" class="btn btn-successs">Nuevo Registro</a>
<table class="table responsive-table">
    <thead>
        <th>
            Imagenes
        </th>
        <th>
            Descripcion
        </th>
        <th>
            Tipo
        </th>
        <th>
            Número de habitaciones 
        </th>
        <th>
            Número de baños 
        </th>
        <th>
            Precio
        </th>
        <th>
            Ac/Desac
        </th>
        <th>
            Zona
        </th>
        <th>
            Editar
        </th>
        <th>
            Eliminar
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList">
        <td>
            {{r._id}} <!--LEER: Dani aqui me saca un error por colocarle lo de imagen, mo se si es que lo tengo que definir en el modelo.. por eso deje el id, pero ahora lo cambiamos entonces -->
        </td>
        <td>
            {{r.descripcion}}
        </td>
        <td>
            {{r.tipo}}
        </td>
        <td>
            {{r.n_habitaciones}}
        </td>
        <td>
            {{r.n_banos}}
        </td>
        <td>
            {{r.precio}}
        </td>
        <td>
            {{r.t_pub}}
        </td>
        <td>
            {{r.id_zona}}
        </td>
    </tr>
    </tbody>
</table>

