<div class="row" >
  <form [formGroup]="form" class="col s12">
    <!--
    <input type="hidden" formControlName="id"/>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="descripcion" id="descripcion" type="text">
        <label for="descripcion" class="active">Descripcion</label>
      </div>
      <div class="input-field col s12">
        <input formControlName="tipo" id="tipo" type="text">
        <label for="tipo">Tipo</label>
      </div>
      <div class="input-field col s6">
        <input formControlName="n_habitaciones" id="n_habitaciones" type="text">
        <label for="n_habitaciones">Número de habitaciones</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="n_banos" id="n_banos" type="text">
        <label for="n_banos">Número de baños</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input formControlName="precio" id="precio" type="text">
        <label for="precio">Precio</label>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input formControlName="t_pub" id="t_pub" type="text">
          <label for="t_pub">t_pub</label>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input formControlName="id_zona" id="id_zona" type="text">
            <label for="id_zona">Zona</label>
          </div>
        </div>
        <div class="input-field col s6">
          <button (click)="SaveRecord()" class="btn btn-success">
            Guardar
          </button>
        </div>
        <div class="input-field col s6">
          <a routerLink="/modules/security/user/perfil/list-perfil" class="btn btn-warning red">
            Cancelar
          </a>
        </div>-->
  </form>
</div>