<footer class="page-footer light-blue accent-3">
    <div class="container ">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Inmobiliaria Equipo 1</h5>
          <p class="grey-text text-lighten-4">Para conocer mas de nosotros entra a los siguientes Links</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Acerca De</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" routerLink="#!">Acerca De Nosotros</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="#!">Mision</a></li>
            <li><a class="grey-text text-lighten-3" routerLink="#!">Vision</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Copyright Equipo 1
      </div>
    </div>
  </footer>