<div class="container">
    <div class="row">
        <div *ngFor="let inmueble of inmuebleList">
            <div class="card-columns">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img src="https://harbourhomes.com/revslider/media/12d6b-cypress-copper-rim_0018_DSC_3498.jpg">
                            <span class="card-title">Title</span>
                        </div>
                        <div class="card-content">
                            <p>I am a very simple card. I am good at containing small bits of information.
                                I am convenient because I require little markup to use effectively.</p>
                        </div>
                        <div class="card-action">
                            <a href="#">This is a link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>