<table class="table responsive-table">
    <thead>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Correo
        </th>
        <th>
            Telefono
        </th>
        <th>
            Clave
        </th>
        <th>
            Direccion
        </th>
        <th>
            Ciudad
        </th>
        <th>
            Pais
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList"> 
            <td>
                {{r._id}}
            </td>
            <td>
                {{r.nombre}}
            </td>
            <td>
                {{r.correo}}
            </td>
            <td>
                {{r.telefono}}
            </td>
            <td>
                {{r.clave}}
            </td>
            <td>
                {{r.direccion}}
            </td>
            <td>
                {{r.ciudad}}
            </td>
            <td>
                {{r.pais}}
            </td>
            <td>
                <a class="waves-effect blue darken-1 btn-small" routerLink="/security/change-user/_id">Editar</a>
            </td>
            <td>
                <a class="waves-effect red accent-4 btn-small" routerLink="/security/delete-user/_id">Eliminar</a>
            </td>
        </tr>
    </tbody>
</table>
   
   
        
            